<footer class="container">
  <small>
    Schedule data provided by <a href="https://511.org" target="_blank">511.org</a>, via <a href="https://www.transit.land" target="_blank">Transitland</a>.
    <br>
    © {% year %} <a href="https://vedana.net/" target="_blank">Eric Case</a> · <a href="https://github.com/case/transit-cal" target="_blank">Source on GitHub</a>
  </small>
</footer>
